<!DOCTYPE html>
<html>
  <head>
    <title>Profile's User</title>
  </head>
  <body>
    <h2>{{name}}</h2>
    <ul>
      <li><a href={{url}}>link</a></li>
      <li><a href={{picture}}>See Images</a></li>
    </ul>
  </body>
</html>